*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
.header-1{
    top: 0;
    background-color:  #262626;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}